{% extends 'main/base.html' %}
{% load static %}

{% block content %}


    <ul class="js-quote-list">
        {% for quote in page_obj %}
        <li class="js-li-favourite" data-quote-id="{{ quote.id }}">
            <a href="{{ quote.get_absolute_url }}">{{ quote.text }}</a>
            <a href="{% url 'main:author_detail' quote.author.id %}">{{ quote.author }}</a>
            <div class="js-quote-favourite">&#9734</div>
            <p>------------------------------------</p>
        </li>
        {% endfor %}
    </ul>


    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    <script type="text/javascript" src="{% static 'main/js/index.js' %}"></script>
{% endblock %}